<section class="yur__section">
  <ul class="yur__list">
    <li class="yur__item-one">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, dolores.
      Repellendus perferendis esse delectus veritatis omnis quidem, voluptatem
      suscipit adipisci, eius rerum natus laboriosam quam quaerat facere quod
      optio cum?
    </li>
    <li class="yur__item-two">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
      molestias.
    </li>
    <li class="yur__item-three">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea maiores
      placeat rerum tempore quibusdam fugiat veniam porro possimus quae
      accusamus consequatur aliquid blanditiis omnis aut quaerat cumque, totam
      neque velit! Reiciendis ullam amet debitis recusandae?
    </li>
  </ul>
</section>
