.header {
  padding: 20px 0 31px;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-size: 55px;
  font-weight: 500;
  letter-spacing: 0.06em;
  line-height: 1.2;
}

.nav-link:hover,
.nav-link:focus {
  color: crimson;
  background-color: blueviolet;
}
